Options +FollowSymlinks
RewriteEngine On
RewriteRule ^/?$ /latest/ [L,R=301]
RewriteCond %{REQUEST_URI} !^/latest/?
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ /latest/$1 [L,R=301]
