:root  > * {
  --md-primary-fg-color:        #1B53A4;
  --md-primary-fg-color--light: #7DADF2;
  --md-primary-fg-color--dark:  #1F5EBB;
  --md-accent-fg-color: #1B7A43;
  --md-typeset-a-color: #27AE60;
}

.md-typeset__table {
  width: 100%;
}

.md-typeset__table > table {
  display: revert !important;
  width: 100%;
}

.md-typeset .admonition.recommendation,
.md-typeset details.recommendation {
  border-color: rgb(43, 155, 70);
}
.md-typeset .recommendation > .admonition-title,
.md-typeset .recommendation > summary {
  background-color: rgba(43, 155, 70, 0.1);
}
.md-typeset .recommendation > .admonition-title::before,
.md-typeset .recommendation > summary::before {
  background-color: rgb(43, 155, 70);
  -webkit-mask-image: var(--md-admonition-icon--tip);
          mask-image: var(--md-admonition-icon--tip);
}

.md-tabs__link {
  font-weight: 600;
}

thead > tr > th {
  background-color: rgba(255,255,255,0.1);
}

tbody > tr:nth-child(even) {
  background-color: rgba(255,255,255,0.02);
}

.video-wrapper {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
}

.video-wrapper > iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.calculator {
  border: 2px solid var(--md-primary-fg-color);
  border-radius: .2rem;
}

.calculator .title {
  font-weight: bolder;
  border-radius: 0.1rem 0.1rem 0 0;
  background-color: color-mix(in srgb, var(--md-primary-fg-color) 50%, transparent);
  padding: 10px
}

.calculator .result-title {
  font-weight: bolder;
  border-radius: 0 0 0.1rem 0.1rem;
  background-color: color-mix(in srgb, var(--md-primary-fg-color) 50%, transparent);
  margin-top: 15px;
  padding: 5px 5px 5px 10px;
}

.calculator #calc-result {
  margin-left: 20px;
  font-size: 1.1rem;
  vertical-align: middle;
}

.calculator div {
  padding: 0 10px 0 10px;
}

.calculator label {
  padding-right: 20px;
}

.calculator input {
  background-color: var(--md-code-bg-color);
  border-radius: .2rem;
  padding: 10px 15px 10px 10px;
  width: 100%;
}

.calculator .table {
  display: grid;
  padding-top: 10px;
}

.calculator .table .row {
  display: table-row;
  padding-bottom: 10px;
}

.calculator .table .row .column {
  display: table-cell;
}

input[type=checkbox][disabled] {
    filter: hue-rotate(18deg) brightness(0.5);
}
